# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- Create tables & list using markdown
- Arithmetic expression in Python

**Some of the popular languages that Data Scientists use are:**

1.Python

2.SQL

3.R

4.Julia

**Some of the commonly used libraries used by Data Scientists include:**

1.Pandas

2.Numpy

3.Tensorflow

4.Scikit-Learn

5.Seaborn

| Data Science Tools             |
|----------------|
| Jupyter Note Book |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335




## Author 

Sangeet Singha